
// _general.scss
// Option A: Include all of Bootstrap

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary: #EA8822;
$secondary: #5E17DD;
$baby-black: #112F3A;
$baby-white: #F3EEE9;
$pink: #ff0890;
$green:#198754;


$focus-ring-opacity: .25;
$focus-ring-color: rgba($secondary, $focus-ring-opacity);

// $component-active-bg:  $secondary;
$input-focus-border-color: tint-color($secondary, 50%);

$form-label-color: $gray-900;

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here