@use '../general' as *;
@use '../sections/mixins' as *;

.display-3 {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    @include fontFamily;
    color: $baby-black;
    
}

.banner__p {
    display: inline-block;
    max-width: 400px;
    font-weight: 600;
    color: $baby-black;
}

.section-title {
    color: $baby-black;
    font-weight: 600;
    font-size: 1.75rem;
    @include fontFamily;

    @include media-breakpoint-up(sm) {
        font-size: 2.1rem;
    }
    
}

.section-sub-title {
    color: $baby-black;
    font-weight: 600;
    font-size: 1.3rem;
    @include fontFamily;

    @include media-breakpoint-up(sm) {
        font-size: 1.5rem;
    }
}

.heading-line {
    width: 5rem;
    height: 3px;
    background-color: $secondary;
    margin-bottom: .5rem;
}

.text {
    font-weight: 400;
}

.highlighter {
    font-size: 1em;
    font-weight: 400;
}

.form-text-basic {
    color: $gray-700;
    font-weight: 400;
    // font-size: 1.1em;
}

.required-indicator {
    color: $pink;
    font-weight: 400;
}

.divider {
    height: 10px;
    background-color: $gray-400;
}