@use '../general' as *;
@use '../sections/mixins' as *;

.display-3 {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    @include fontFamily;
    color: $baby-black;
    
}

.banner__p {
    display: inline-block;
    max-width: 400px;
    font-weight: 600;
    color: $baby-black;
}