@use '../general' as *;
@use '../sections/mixins' as *;

.banner {
    background-image: linear-gradient(rgba($baby-white, 0.55), rgba($baby-white, 0.55)), url('../../src/assets/images/banner/background-image.webp') !important;
    // width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

    .background-shape1 {
        position: absolute;
        top: -10%;
        right: 80%;
        transform: rotate(7deg);
    }
    
    .background-shape2 {
        position: absolute;
        bottom: -50%;
        right: 75%;
        transform: rotate(-7deg);
    }

    .logo-container {

        .logo {
            max-width: 120px;
            width: 25%;
        }

        p {
            font-size: .8rem;
            font-weight: 800;
            color: $baby-black;
        }
        
    }

}

.date-box {

    .icon {
        color: $secondary;
        font-size: 2rem;
    }

}

.stamp {
    width: 30%;
    top: 10%;
    left: 110%;
    max-width: 100px;
    z-index: 100;

    @include media-breakpoint-up(sm) {
        top: 25%;
        left: 75%;
    }

    img {
        width: 100%;
    }
}

.speaker-container {
    position: absolute;
    right: 0;
    top: 30%;
    width: 50%;
    max-width: 300px;

    @include media-breakpoint-up(sm) {
        top: 10%;
    }

    img {
        padding: 10px;
        background: linear-gradient(to bottom, rgba($secondary, 0.95), rgba($primary, 0.95));
    }
}


.backround-circle {
    width: 100vw;
    height: 100vw;
    background-color: $secondary;
    border-radius: 50%;

    @include media-breakpoint-up(sm) {
        width: 40vw;
        height: 40vw;
    }

    .speaker-text {
        top: 40%;
        left: 27%;

        span {
            display: block;
        }
    }
}

